<section class="about-game">
  <h2 class="second-font">About Game</h2>
  <div class="container about-game-container">
    <div class="block">
      <p class="block-text">
        A-Puzzle-A-Day brings the acclaimed physical puzzle into the palm of
        your hand. Created by the original designers at DragonFjord, this
        digital version offers an authentic and expanded experience.
      </p>
    </div>
    <div class="block">
      <p class="block-text">
        Solve today’s date every single day—with a fresh challenge and
        satisfying logic-based gameplay. It’s smart, smooth, and deeply
        rewarding. Perfect for quick breaks or your daily thinking ritual.
      </p>
    </div>
    <div class="block">
      <p class="block-text">
        Every puzzle is based on a real date—you’ll never solve the same one
        twice. New day, new layout, new logic. It’s the perfect mix of routine
        and surprise.
      </p>
    </div>
    <div class="block">
      <p class="block-text">
        A-Puzzle-A-Day brings the acclaimed physical puzzle into the palm of
        your hand. Created by the original designers at DragonFjord, this
        digital version offers an authentic and expanded experience.
      </p>
    </div>
  </div>
</section>
