<section class="acces-section" id="accessibility">
    <div class="container">
        <h3 class="access-title second-font">Accessibility – Everyone Can Play</h3>
        <p class="access-text">Designed with clarity and comfort in mind:</p>
        <div class="access-box">
            <ul class="access-list">
                <li class="access-list-item li-one">
                    <img class="access-list-icon" src="/img/access-letters.webp" alt="Aa">
                    <p class="access-list-text">Easy-to-read fonts</p>
                </li>
                <li class="access-list-item li-two">
                    <img class="access-list-icon" src="/img/access-light-dark.webp" alt="light-dark">
                    <p class="access-list-text">Adjustable visuals in both light and dark modes</p>
                </li>
                <li class="access-list-item li-three">
                    <img class="access-list-icon" src="/img/access-game.webp" alt="Smooth touch controls">
                    <p class="access-list-text">Smooth touch controls</p>
                </li>
                <li class="access-list-item li-four">
                    <img class="access-list-icon" src="/img/access-time.webp" alt="Time">
                    <p class="access-list-text">No time limits or pressure—play at your own pace Plus, with
                        multilingual support, this is a global puzzle with a universal appeal.</p>
                </li>
            </ul>
        </div>
    </div>
</section>