<section class="app-section" id="app-info">
    <div class="container app-info-container">
        <h3 class="app-title">App Info – Essentials</h3>
        <p class="app-text">Version: 2.1.7<br>Updated on: May 9, 2025 <br>Downloads: 1,000+ <br>
            Device Requirements: Android 5.1 and up<br>Optimized for phones and tablets<br>Fully functional offline
            after download</p>
    </div>
    <div class="container app-info-container" id="creators">
        <h3 class="app-title">About the Creators</h3>
        <p class="app-text">Created by the puzzle innovators at DragonFjord, A-Puzzle-A-Day is the only official digital
            version of the internationally bestselling calendar puzzle. <br>Known for high-quality, brain-friendly
            games,
            DragonFjord’s mission is to deliver timeless logic challenges to puzzle lovers everywhere.
        </p>
    </div>
    <div class="container app-info-container app-desk" id="community">
        <h3 class="app-title">Community – Share Your Solutions</h3>
        <p class="app-text app-community-li-text-desk">Join puzzle fans from around the world who make A-Puzzle-A-Day
            part of their routine.
        </p>
        <ul class="app-community-list ">
            <li class="app-community-li"><img class="app-community-img" src="/img/info-calendar.webp" alt="calendar">
                <p class="app-community-li-text">Post your daily wins</p>
            </li>
            <li class="app-community-li"><img class="app-community-img" src="/img/info-luggage.webp" alt="luggage">
                <p class="app-community-li-text">Trade solving tips</p>
            </li>
            <li class="app-community-li"><img class="app-community-img" src="/img/info-activity.webp" alt="activity">
                <p class="app-community-li-text">Show off your favorite themes and streaks</p>
            </li>
        </ul>
    </div>
    <div class="container app-info-container app-social-mob">
        <h3 class="app-title">Follow us:</h3>
        <ul>
            <li class="app-text-social">Instagram</li>
            <li class="app-text-social">Twitter/X</li>
            <li class="app-text-social">Facebook</li>
        </ul>
    </div>
    <div class="container app-social-desk">
        <p class="app-title app-title-two">Follow Us: Instagram, Twitter/X, Facebook</p>
    </div>
    <div class="container app-info-container hashtags-desk">
        <h3 class="app-title app-title-two">Use Hashtags:</h3>
        <div class="hashtags">
            <p class="app-text">#APuzzleADay</p>
            <p class="app-text">#DailyPuzzleChallenge</p>
            <p class="app-text">#PuzzleWithPurpose</p>
        </div>
        <p class="app-text">Be part of the puzzle-solving movement—and inspire others to join in.</p>
    </div>
    <div class="container app-info-container" id="contact">
        <h3 class="app-title app-title-two">Contact Us</h3>
        <p class="app-text text-margin">Have feedback, questions, or feature ideas? We’d love to hear from you.
            <br>Reach out
            any time at <a class="app-email" href="mailto:info@eventbeha.space.">info@eventbeha.space</a>.
        </p>
        <p class="app-text">You can also connect with us through our social channels or sign up for the newsletter for
            future updates and puzzle news.</p>
    </div>
</section>