<section class="bonus-section">
    <div class="container">
        <h3 class="bonus-title second-font">Bonus Features – Hidden Depths</h3>
        <div class="bonus-box">
            <h4 class="bonus-box-title second-font">Bonus Features – Hidden Depths</h4>
            <p class="bonus-box-second-text">Certain days pose a steeper challenge—expect more complex patterns and
                tighter fits.
            </p>
            <ul class="bonus-box-item">
                <li class="bonus-box-list"><img class="bonus-box-icon" src="/img/bonus-cup.webp" alt="Cup">
                    <p class="bonus-box-text">Completing these earns bonus trophies and rare coin</p>
                </li>
                <li class="bonus-box-list"><img class="bonus-box-icon" src="/img/bonus-search.webp" alt="Search">
                    <p class="bonus-box-text">Hidden puzzle achievements await those who go the extra mile</p>
                </li>
                <li class="bonus-box-list"><img class="bonus-box-icon" src="/img/bonus-book.webp" alt="Book">
                    <p class="bonus-box-text">Look out for milestone rewards every 7 days <br>The deeper you dive, the
                        more
                        secrets you’ll uncover.</p>
                </li>
            </ul>

        </div>
    </div>
</section>