<section class="customization-section">
    <div class="container">
        <h3 class="customization-title  second-font">Customization – Make It Yours</h3>
        <p class="customization-text">Use your coins to unlock visual themes and calendar styles:
        </p>
        <ul class="customization-list">
            <li class="customization-li">
                <picture class="customization-li-img">
                    <source media="(min-width: 1200px)"
                        srcset="/img/customization-desk-puzle.webp 1x, /img/customization-desk-puzle@2x.webp 2x">
                    <source media="(max-width: 1199px)"
                        srcset="/img/customization-mob-puzle.webp 1x, /img/customization-mob-puzle@2x.webp 2x">
                    <img src="/img/customization-mob-puzle.webp" alt="Puzzle">
                </picture>
                <p class="customization-li-text p-one">Over 30 unlockable puzzle sets including classic wood, crystal,
                    neon,
                    and seasonal styles</p>
            </li>
            <li class="customization-li">
                <picture class="customization-li-img">
                    <source media="(min-width: 1200px)"
                        srcset="/img/customization-desk-leter.webp 1x, /img/customization-desk-leter@2x.webp 2x">
                    <source media="(max-width: 1199px)"
                        srcset="/img/customization-mob-letter.webp 1x, /img/customization-mob-letter@2x.webp 2x">
                    <img src="/img/customization-mob-letter.webp" alt="Letter">
                </picture>
                <p class="customization-li-text p-two">Frame languages: Choose from 11 supported languages</p>
            </li>
            <li class="customization-li">
                <picture class="customization-li-img">
                    <source media="(min-width: 1200px)"
                        srcset="/img/customization-desk-light.webp 1x, /img/customization-desk-light@2x.webp 2x">
                    <source media="(max-width: 1199px)"
                        srcset="/img/customization-mob-light.webp 1x, /img/customization-mob-light@2x.webp 2x">
                    <img src="/img/customization-mob-light.webp" alt="Light">
                </picture>
                <p class="customization-li-text p-three">Light and dark UI options for any setting <br>Customizing your
                    board is part of the fun—it’s as personal as your calendar.</p>
            </li>
        </ul>
    </div>
</section>