<section class="display-section">
    <div class="container">
        <h3 class="display-title second-font">Display Modes – Light or Dark</h3>
        <p class="display-text">Your environment changes—so should your display.
        </p>
        <div class="display-cards">
            <p class="display-cards-dark">Dark Mode: Sleek and easy on the eyes for night sessions <br>Switch
                effortlessly based on your preference or environment.</p>
            <p class="display-cards-light">Light Mode: Bright and clear, perfect for daytime solving</p>
        </div>
    </div>
</section>