<section class="gameplay-section">
    <div class="container gameplay-container">
        <h3 class="game-title second-font">Gameplay – Addictive & Relaxing</h3>
        <div class="game-content">
            <p class="game-content-text">A-Puzzle-A-Day is built on satisfying motion, intelligent design, and rewarding
                logic. <br> Drag, rotate, place. The tactile satisfaction is real. Whether you’re solving your first
                date or
                your hundredth, the interaction always feels right. <br> There’s no time pressure—just a daily moment of
                challenge and calm.
            </p>
            <picture class="game-content-img">
                <source media="(min-width: 1200px)"
                    srcset="/img/gameplay-desktop.webp 1x, /img/gameplay-desktop@2x.webp 2x">
                <source media="(max-width: 1199px)" srcset="/img/gameplay-mob.webp 1x, /img/gameplay-mob@2x.webp 2x">
                <img src="/img/gameplay-desktop.webp" alt="Phone-with-game">
            </picture>
        </div>
    </div>
</section>