<header class="header">
  <div class="container header-container">
    <img src="./img/logo.webp" width="60" height="60" class="logo" />
    <button class="burger-btn" aria-label="Open menu">
      <svg width="32" height="32">
        <use href="./sprite.svg#burger-icon"></use>
      </svg>
    </button>
    <div class="mobile-menu" id="mobile-menu">
      <nav class="header-nav">
        <ul class="menu-list">
          <li><a href="">Home</a></li>
          <li><a href="">About</a></li>
          <li><a href="">How It Work</a></li>
          <li><a href="">Rewards</a></li>
          <li><a href="">Customization</a></li>
          <li><a href="">Tools</a></li>
          <li><a href="">Save & Replay</a></li>
          <li><a href="">Accessibility</a></li>
          <li><a href="">Bonus Features</a></li>
          <li><a href="">Gameplay</a></li>
          <li><a href="">Display Modes</a></li>
          <li><a href="">App Info</a></li>
          <li><a href="">Creators</a></li>
          <li><a href="">Community</a></li>
          <li><a href="">Contact</a></li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="cookie-modal" id="cookieModal">
    <div class="privacy-wrapper">
      <h2 class="your-privacy">Your Privacy</h2>
      <p class="cookie-text">
        We use cookies to improve your experience on our website. By browsing
        this website, you agree to our use of cookies.
      </p>
    </div>
    <div class="cookie-btns">
      <button class="accept-btn" id="acceptBtn">ACCEPT COOKIES</button>
      <button class="decline-btn" id="declineBtn">DECLINE COOKIES</button>
    </div>
  </div>
</header>
