<header class="header">
  <div class="container"> 
    <div class="header-container">
    <img src="./img/logo.webp" width="60" height="60" class="logo" />
    <button class="burger-btn" aria-label="Open menu">
      <svg width="32" height="32">
        <use href="img/sprite.svg#burger-icon"></use>
      </svg>
    </button>
    <div class="mobile-menu" id="mobile-menu">
      <nav class="header-nav">
        <ul class="menu-list">
          <li><a href="#hero">Home</a></li>
          <li><a href="#about-game">About</a></li>
          <li><a href="#how-it-works">How It Works</a></li>
          <li><a href="#rewards">Rewards</a></li>
          <li><a href="#customization">Customization</a></li>
          <li><a href="#tools">Tools</a></li>
          <li><a href="#save-replay">Save & Replay</a></li>
          <li><a href="#accessibility">Accessibility</a></li>
          <li><a href="#bonus-features">Bonus Features</a></li>
          <li><a href="#gameplay">Gameplay</a></li>
          <li><a href="#display-modes">Display Modes</a></li>
          <li><a href="#app-info">App Info</a></li>
          <li><a href="#creators">Creators</a></li>
          <li><a href="#community">Community</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </nav>
    </div>
    </div>
  </div>
  </div>
  <div class="cookie-modal" id="cookieModal">
    <div class="privacy-wrapper">
      <h2 class="your-privacy">Your Privacy</h2>
      <p class="cookie-text">
        We use cookies to improve your experience on our website. By browsing
        this website, you agree to our use of cookies.
      </p>
    </div>
    <div class="cookie-btns">
      <button class="accept-btn" id="acceptBtn">ACCEPT COOKIES</button>
      <button class="decline-btn" id="declineBtn">DECLINE COOKIES</button>
    </div>
  </div>
</header>
