<section class="hero">
  <div class="container">
    <div class="hero-container">
      <h2 class="second-font">
        A Puzzle for <span class="every">Every</span> Day
      </h2>
      <img
        srcset="./img/dragon.webp, ./img/dragon@2x.webp"
        alt="dragon"
        class="dragon"
      />
      <p class="promo">
        The official mobile version of DragonFjord’s bestselling puzzle. Just 8
        pieces, one calendar grid, and infinite possibilities.
      </p>

      <div class="bg-image"></div>
      <button
        onclick="location.href='https://play.google.com/store/apps/details?id=com.DragonFjord.APuzzleADay&hl=en&gl=us&pli=1';"
        class="hero-btn"
      >
        <svg width="26" height="24">
          <use href="/img/sprite.svg#icon-google-play"></use>
        </svg>
        Google Play
      </button>
    </div>
  </div>
</section>
