<section class="hero" id="hero">
  <div class="hero-container container">
    <h2 class="hero-header">
      A Puzzle for <span class="every">Every</span> Day
    </h2>
    <img srcset="./img/dragon.webp, ./img/dragon@2x.webp" alt="dragon" class="dragon" />
    <p class="promo">
      The official mobile version of DragonFjord’s bestselling puzzle. Just 8
      pieces, one calendar grid, and infinite possibilities.
    </p>
    <button class="hero-btn" onclick="window.open(
    'https://play.google.com/store/apps/details?id=com.DragonFjord.APuzzleADay&hl=en&gl=us&pli=1',
    '_blank'
  )">
      <svg width="26" height="24">
        <use href="/img/sprite.svg#icon-google-play"></use>
      </svg>
      Google Play
    </button>
  </div>
</section>