<section class="how-it-works">
  <div class="container hiw-container">
    <h2 class="second-font">How It Works</h2>
    <div class="hiw-block-1">
      <p class="hiw-text">Place 8 shape-based pieces onto the calendar grid.</p>
      <img src="/img/slash-1.webp" class="slash-1" width="249" height="134" />
    </div>
    <div class="hiw-block-2">
      <img src="/img/slash-2.webp" class="slash-2" width="249" height="134" />
      <p class="hiw-text">
        Your goal: Highlight the current month and day by leaving those spots
        exposed.
      </p>
    </div>
    <div class="hiw-block-3">
      <p class="hiw-text">
        Each date is uniquely solvable—no repeats, no randomness.
      </p>
      <img src="/img/slash-3.webp" class="slash-3" width="249" height="134" />
    </div>
    <div class="hiw-block-4">
      <p class="hiw-text">
        Pieces can be rotated, flipped, and snapped into place with smooth
        motion. <br />
        It’s deceptively simple but endlessly clever.
      </p>
    </div>
  </div>
</section>
