<section class="rewards-and-wins" id="rewards">
  <div class="container">
    <div class="rewards">
      <h2 class="second-font rewards-title">Rewards – Daily Wins</h2>
      <p class="rewards-text1">
        Each successful solve earns dragon-coins and collectible trophies
      </p>
      <ul class="rewards-list">
        <li class="rewards-item">
          <img
            src="./img/calendar.webp"
            srcset="/img/calendar.webp, /img/calendar@2x.webp"
            alt="calendar"
            width="48"
            height="48"
          />
          <p class="rewards-text">
            Solve consecutive days to build streaks and unlock streak bonuses
          </p>
        </li>
        <li class="rewards-item">
          <img
            src="./img/group.webp"
            srcset="/img/group.webp, /img/Group@2x.webp"
            alt="trophies"
            width="48"
            height="48"
          />
          <p class="rewards-text">
            Special dates and hard days yield extra rewards
          </p>
        </li>
        <li class="rewards-item">
          <img
            src="./img/puzzle.webp"
            srcset="/img/puzzle.webp, /img/puzzle@2x.webp"
            alt="trophies"
            width="48"
            height="48"
          />
          <p class="rewards-text">
            Your profile grows with <br />
            every puzzle you conquer <br />
            It's motivation with
            <br />
            meaning: every effort <br />
            builds your puzzle legacy.
          </p>
        </li>
      </ul>
      <button
        class="play-btn"
        onclick="window.open(
    'https://play.google.com/store/apps/details?id=com.DragonFjord.APuzzleADay&hl=en&gl=us&pli=1',
    '_blank'
  )"
      >
        Play
      </button>
    </div>
  </div>
</section>
