<section class="save-replay-section">
    <div class="container">
        <h3 class="s-v-title second-font">Save & Replay – Keep Your Best Moments</h3>
        <p class="s-v-text">Every date you solve is stored in your personal Solution Bank.
        </p>
        <div class="s-v-box box-one">
            <p class="s-v-box-text">Revisit your trickiest victories or prettiest layouts</p>
            <img src="/img/save-replay-vector-1.webp" alt="Vector" class="vector vector-one" />
        </div>
        <div class="s-v-box box-two">
            <p class="s-v-box-text">Browse through previous puzzles</p>
            <img src="/img/save-replay-vector-2.webp" alt="Vector" class="vector vector-two" />
        </div>
        <div class="s-v-box box-three">
            <p class="s-v-box-text">Save your favorite solves for bragging rights or reflection <br>It’s a living
                archive of your puzzle
                journey.</p>
        </div>
    </div>
</section>