<section class="tools-sectins" id="tools">
    <div class="container">
        <h3 class="tools-title second-font">Tools – Hints, Time Travel & Help</h3>
        <div class="tools-box">
            <h3 class="tools-box-title second-font">Tools – Hints, Time Travel & Help</h3>
            <ul class="tools-box-list">
                <li class="tools-box-item"><img class="tools-box-img" src="/img/tools-ticket.webp" alt="Tickets">
                    <p class="tools-box-text">Hint Tickets give you a gentle nudge—perfect for tricky layouts</p>
                </li>
                <li class="tools-box-item"><img class="tools-box-img" src="/img/tools-time.webp" alt="Time">
                    <p class="tools-box-text">Time Machine Passes let you solve missed days retroactively</p>
                </li>
                <li class="tools-box-item"><img class="tools-box-img" src="/img/tools-coins.webp" alt="Сoins">
                    <p class="tools-box-text tools-three">Replay past days for bonus coins or just for fun <br>Whether you play with
                        assistance or go full puzzle purist, the tools support your play style.</p>
                </li>
            </ul>
        </div>
    </div>
</section>