.second-font {
  font-weight: 500;
  font-size: 24px;
  text-align: center;
  color: #2e2b2b;
}
.block {
  border-radius: 20px;
  padding: 10px;
  width: 288px;
  height: auto;
}
.block:nth-of-type(even) {
  background: #b1c1b5;
}
.block:nth-of-type(odd) {
  background: #d7b9a7;
}
.block-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 2.5;
  text-align: center;
  color: #2e2b2b;
}
/*-----------DESKTOP----------*/
@media only screen and (min-width: 1200px) {
  .about-game-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px 46px;
  }
  .second-font {
    font-size: 48px;
    line-height: 1.66667;
  }
  .block {
    height: 331px;
    width: 490px;
    display: flex;
    align-items: center;
    padding-left: 30px;
  }
  .block:nth-of-type(1),
  .block:nth-of-type(4) {
    background: #b1c1b5;
  }

  .block:nth-of-type(2),
  .block:nth-of-type(3) {
    background: #d7b9a7;
  }
  .block-text {
    font-size: 20px;
    line-height: 2;
    text-align: start;
  }
}
