.footer {
  padding: 32px 0;
  background: #2f5163;
}

.footer > .container {
  padding: 0 30px;
}

.footer-link {
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
}

.footer-link-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  color: #fff;
  transition: color cubic-bezier(0.075, 0.82, 0.165, 1);
}

.footer-link-text:hover,
.footer-link-text:focus,
.footer-link-text:active {
  color: #d7b9a7;
}

.footer-link-social {
  display: flex;
  gap: 32px;
  justify-content: center;
  margin-bottom: 32px;
}

.footer-link-social > svg {
  fill: #fff;
}

.footer-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 2;
  color: #c1c7cd;
  margin-bottom: 32px;
}

.footer-copy {
  width: 288px;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.4;
  letter-spacing: -0.1em;
  color: #c0bfbf;
}

@media only screen and (min-width: 1200px) {
  .footer {
    padding-bottom: 74px;
  }

  .footer > .container {
    padding: 0 86px;
    display: flex;
    flex-direction: column;
  }

  .footer-link {
    flex-direction: row;
    justify-content: end;
    gap: 37px;
    padding-bottom: 48px;
    border-bottom: 1px solid #c1c7cd;
  }

  .footer-link-text {
    font-size: 20px;
    line-height: 2;
  }

  .footer-link-text:hover,
  .footer-link-text:focus {
    color: #d7b9a7;
  }

  .footer-link-text:active {
    color: #e6e6e6;
  }

  .footer-link-social {
    gap: 16px;
    justify-content: end;
    margin-bottom: 0px;
  }

  .footer-link-social > svg {
    transition: fill cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  .footer-link-social > svg:hover,
  .footer-link-social > svg:focus {
    fill: #d7b9a7;
  }

  .footer-link-social > svg:active {
    fill: #fff;
  }

  .footer-text {
    font-weight: 500;
    font-size: 20px;
    line-height: 2;
    order: -1;
  }

  .footer-text:hover {
    color: #d7b9a7;
  }

  .footer-copy {
    font-size: 14px;
    width: 532px;
    letter-spacing: 0em;
    margin-top: -24px;
  }

  .privacy {
    order: 1;
  }

  .terms {
    order: 2;
  }

  .cookie {
    order: 3;
  }
}
