.hero {
  padding-top: 24px;
  padding-bottom: 24px;
  margin: 0 auto;
  margin-top: 120px;
}

.hero-container {
  background: url('/img/mobile-hero-bcg.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-width: 288px;
  max-width: 288px;
  height: 468px;
  padding: 24px 0;
  border-radius: 30px;
  margin-right: 16px;
  margin-left: 16px;
}

.hero-header {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 24px;
  text-align: center;
  color: #2e2b2b;
  letter-spacing: -0.02em;
  margin-bottom: 24px;
}

.every {
  color: #487051;
}

.promo {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.75;
  text-align: center;
  margin-bottom: 24px;
}

.dragon {
  width: 180px;
  height: 121px;
  margin: 0 auto;
  margin-bottom: 24px;
}

.hero-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  border: 2px solid #a79561;
  border-radius: 4px;
  padding: 11px 19px;
  width: 212px;
  height: 50px;
  background: #fff;
  font-weight: 400;
  font-size: 20px;
  color: #1e1e1e;
  margin: 0 auto;
}

.hero-btn:hover {
  background: #e9e9e9;
}

.hero-btn:active {
  background: #f8f8f8;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .hero-container {
    background: url('/img/mobile-hero-bcg@2x.webp') enter/cover no-repeat;
  }
}

/*--------DESKTOP---------*/
@media only screen and (min-width: 1200px) {
  .hero {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .hero-container {
    min-width: 1026px;
    max-width: 1026px;
    height: 725px;
    padding: 24px 0px 70px 0px;
    border-radius: 60px;
    margin-right: 86px;
    margin-left: 86px;
  }

  .hero-header {
    font-size: 64px;
    margin-bottom: 0;
  }

  .promo {
    text-align: left;
    margin-bottom: 47px;
    font-size: 20px;
    line-height: 2;
    margin-left: 437px;
    margin-right: 15px;
  }

  .dragon {
    width: 422px;
    height: 283px;
    margin-bottom: 0;
  }

  .hero-btn {
    align-self: flex-start;
    margin-left: 88px;
    width: 256px;
    height: 68px;
    font-weight: 400;
    font-size: 24px;
    color: #1e1e1e;
  }

  .hero-btn:hover {
    background: #e9e9e9;
  }

  .hero-btn:active {
    background: #f8f8f8;
  }
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .hero-container {
      background: url('/img/desktop-hero-bcg@2x.webp') center/cover no-repeat;
    }
  }
}
